html{
  background-color: black;

  /* Full height */
  width: 100%;

}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

canvas {
  display: block;
  width: 100%;
}

/* #sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  box-sizing: border-box;
} */

.navbar {
  width: 100%;
  background-color: #2b2a2a;
  overflow: hidden;
}

.searchBar{
  width: 50%;
  margin: auto;

}

.searchBtn{
  color:#007bff;
}



h2{
  text-align: center;
  border: 2px;
  border-style: solid;
  border-radius: 40px;
  background-color: white;
  font-size: 28px;

}

/* Add this CSS to your stylesheet.css */
.main-content {
  position: absolute;
  top: 60px; /* Adjust based on the header height */
  left: 0;
  width: 100%;
  height: calc(100% - 60px); /* Adjust based on the header height */
  overflow: hidden; /* Ensure no scrollbars */
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1001;
  width: auto;
  max-width: 80%;
}

.modal-content {
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}

.modal button {
  cursor: pointer;
}



.closer-look-button {
  position: absolute;
  left: 70%;
  top: 30%;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.closer-look-button:hover {
  background-color: #0056b3;
}
#infoBox {
  position: absolute;
  max-width: 600px;
  word-wrap: break-word;
  background-color: #fff; /* White background */
  border: 1px solid #ccc; /* Light gray border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  z-index: 1000;
  font-family: Rubik, sans-serif;
}

#infoBox .modal-header {
  font-size: 18px; /* Header font size */
  font-weight: 600; 
  margin-bottom: 10px; /* Space below header */
  text-align: center;
}

#infoBox .modal-content {
  font-size: 14px; /* Content font size */
  margin-bottom: 20px; /* Space below content */

}

#infoBox .modal-content b {
  font-weight: 500;
}

#infoBox .modal-footer {
  display: flex; /* Use flexbox to arrange buttons */
  justify-content: space-between; /* Space between buttons */
  align-items: center; /* Center items vertically */
  border-top: 1px solid #ccc; /* Thin gray line above buttons */
  padding-top: 10px; /* Space above buttons */
  font-weight: 400;
}

#infoBox .modal-footer button {
  flex: 1; /* Buttons take equal space */
  padding: 10px 20px; /* Button padding */
  font-size: 14px; /* Button font size */
  border: none; /* Remove default border */
  background-color: transparent; /* Transparent background */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition */
}

#infoBox .modal-footer .cancel-button {
  color: #ff4d4d; /* Red text */
  border-right: 1px solid #ccc; /* Thin gray line between buttons */
}

#infoBox .modal-footer .try-again-button {
  color: #007bff; /* Blue text */
}

#infoBox .modal-footer button:hover {
  background-color: #e6e6e6; /* Light gray overlay on hover */
}

h3{
  text-align: center;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: absolute;
  overflow: hidden;
}

.instructions{
  margin: 5%;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

#welcomeModal{
  position: absolute;
  left: 25%;
  bottom: 25%;
  max-width: 800px;
  max-height: 80vh;
  /* background: var(--white); */
  overflow: hidden;
  cursor: default;
  word-wrap: break-word;
  background-color: #fff; 
  border: 1px solid #ccc; /* Light gray border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  z-index: 2;
  font-family: Rubik, sans-serif;
 
}


 .modal2-dialog{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: none; /* Initially hidden */
  z-index: 1;
  /* transition: all 0.5s ease-in; */
}

#welcomeModal .modal2-header{
  font-size: 26px; /* Header font size */
  font-weight: 600; 
  margin-bottom: 10px; /* Space below header */
  margin-top: 5px;
  text-align: center;
  /* position: relative */
}

#welcomeModal .modal2-content{
  /* transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: relative; */
  font-size: 16px; /* Content font size */
  margin-bottom: 20px; /* Space below content */
  font-weight: 500;
}

#welcomeModal .modal2-footer{
    font-size: 16px; /* Content font size */
    margin-bottom: 20px; /* Space below content */
    font-weight: 500;
    position:relative;
}

#welcomeModal .modal2-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcomeModal .modal2-btn button{
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}


#welcomeModal .modal2-btn button:hover{
  background-color: #0056b3;

}

/* Style for the button */

.sidebar-toggle {
  display: none;
  padding: 10px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

/* Show the sidebar when it's toggled */
.sidebar.active {
  display: block;
}

@media screen and (max-width: 768px) {
    
  h2, h3, .instructions {
    font-size: 20px;
  }

  canvas {
    margin: 0;
    display: block;
  }

  div.content {
    margin-left: 0;
  }

  .sidebar {
    display: none;
  }

  .sidebar .active{
     width: 50%;
    height: auto;
    z-index: 10;
    display: block;
  }

  .sidebar-toggle {
    display: block;
    font-size: 16px;
    width: fit-content;
  }

  .navbar {
    text-align: center;
    width: fit-content;
    margin: 5px;
  }

  .searchBar {
    width: 100%;
    margin: 5px 0;
  }

  .navbar, .searchBar {
    padding: 10px;
  }

  .closer-look-button {
    left: 80%;
    width: 35%;
  }
}
